._index {
  h2 {
    margin: 4rem 0;
    font-weight: 700;
    font-size: 8rem;
    font-family: Teko;
    line-height: 1;
    color: #ddd;

    @media (max-width: 767px) {
      font-size: 6rem;
    }

    @media (max-width: 575px) {
      font-size: 3rem;
      text-align: center !important;
    }
  }

  .top {
    position: relative;

    .content {
      position: absolute;
      left: 10%;
      bottom: 10%;

      h1 {
        text-align: left;
      }
    }

    .zipper {
      svg {
        display: block;
        width: 100%;
        height: calc(100vh - 100px);
      }

      .zipper-head-ani {
        -moz-transition: transform 0.4s cubic-bezier(0.265, 1.650, 0.460, 0.855);
        -o-transition: transform 0.4s cubic-bezier(0.265, 1.650, 0.460, 0.855);
        -webkit-transition: transform 0.4s cubic-bezier(0.265, 1.650, 0.460, 0.855);
        transtion: transform 0.4s cubic-bezier(0.265, 1.650, 0.460, 0.855);
      }

      .zipper-track-line {
        stroke: #f7b90d;
        stroke-width: 4;
      }

      .zipper-head {
        fill: #AD6834;
        stroke: #FFFFFF;
        stroke-width: 3
      }
    }
  }

  .top2 {
    padding: 8rem 0 12rem 0;
    background: #fff;
    background-image: url('/images/top_bg.svg'), url('/images/top_bg_2.svg'), radial-gradient(#ea921daa, #ea921d00 70%), linear-gradient(0deg, #462807, #603804);
    background-repeat: repeat-x, repeat, no-repeat, no-repeat;
    background-position: calc(50% - var(--bg-pos)) bottom, center center, center -60vw, center center;
    background-size: 1600px auto, 800px auto, 100vw 100vw, auto auto;
    color: #fff;

    @media (max-width: 767px) {
      padding: 6rem 0 12rem 0;
      background-size: 1000px auto, 600px auto, 180vw 180vw, auto auto;
      background-position: calc(50% - var(--bg-pos)) bottom, center top, center -90vw, center center;
    }

    h1 {
      margin: 1rem 0;
      font-weight: 400;
      font-size: 4rem;
      line-height: 1.2;
      color: #ffbe32;

      @media (max-width: 991px) {
        font-size: 3rem;
        text-align: center;
      }
    }

    .top-main {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1.4fr;
      grid-gap: 2rem;
      align-items: center;

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 0;
        text-align: center;
      }
    }

    .content {
      max-width: 800px;
    }

    .desc {
      // opacity: 0.6;
      font-size: 1.2rem;

      // @media (max-width: 767px) {
      //   font-size: 1rem;
      // }
    }

    .action {
      margin-top: 3rem;
    }

    .kv {
      display: block;
      // margin-bottom: -100%;

      @media (max-width: 991px) {
        width: 80%;
        margin: 3rem auto -5rem auto;
      }
    }
  }

  .about {
    position: relative;
    padding: 0 0 3rem 0;
    background: var(--white);
    background-image: url('/images/about_bg.svg');
    background-position: top center;
    background-size: 800px auto;

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 3rem;
      background: linear-gradient(0deg, #fff, #fff0);
      pointer-events: none;
    }

    h2 {
      text-align: left;
    }

    .content {
      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 4rem;
      align-items: center;

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-gap: 4rem;
      }
    }

    .flow {
      text-align: center;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .works {
    padding: 12rem 0 10rem 0;
    background: #363b92;
    background-image: url('/images/works_bottom_bg.svg'), url('/images/works_top_bg.svg'), linear-gradient(180deg, #205db0 0%, #363b92 100%);
    background-repeat: repeat-x, repeat-x, no-repeat;
    background-position: calc(50% - var(--bg-pos)) bottom, calc(50% + var(--bg-pos)) top, center top, center bottom;
    background-size: 1600px auto, 1600px auto, auto auto;
    color: #fff;

    @media (max-width: 767px) {
      padding: 8rem 0;
      background-size: 1000px auto, 1000px auto, auto auto;
    }

    h2 {
      color: #fff;
      opacity: 0.4;
      text-align: right;
    }

    .list {
      max-width: 1600px;
      margin: 0 auto;

      .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        margin-bottom: 8rem;

        @media (max-width: 767px) {
          margin-bottom: 2rem;
        }

        .image {
          img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 2 / 1;
          }
        }

        .content {
          padding-right: max(calc((min(1600px, 100vw) - 1200px) / 2), 6vw);
          padding-bottom: 3rem;

          .title {
            margin-bottom: 1rem;
            font-size: 2rem;
          }

          .tags {
            margin-bottom: 0.5rem;
          }

          .desc {
            opacity: 0.75;
          }

          .url {
            margin-top: 1rem;
            opacity: 0.75;

            a {
              margin-left: 0.8rem;
              color: currentColor;
            }
          }
        }

        &:nth-child(even) {
          .image {
            order: 1;

            @media (max-width: 767px) {
              order: 0;
            }
          }

          .content {
            padding-right: 0;
            padding-left: max(calc((min(1600px, 100vw) - 1200px) / 2), 6vw);
          }
        }


        @media (max-width: 767px) {
          grid-template-columns: 1fr;
          grid-gap: 2rem;

          .content,
          &:nth-child(even) .content {
            padding-right: 6%;
            padding-left: 6%;
          }
        }
      }
    }
  }

  .members {
    // position: relative;
    padding: 0 0 10rem 0;
    background: var(--white);
    background-image: url('/images/members_bottom_bg.svg'), url('/images/members_bg.svg');
    background-repeat: repeat-x, repeat;
    background-position: calc(50% + var(--bg-pos)) bottom, center top;
    background-size: 1500px auto, 800px auto;

    // &:after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   right: 0;
    //   height: 6rem;
    //   background: linear-gradient(180deg, #fff, #fff0);
    //   pointer-events: none;
    // }

    h2 {
      text-align: left;
    }

    .list {
      display: grid;
      grid-gap: 0 6rem;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;

      .member {
        &:nth-child(3n+2) {
          margin-top: 5rem;
        }
        &:nth-child(3n+3) {
          margin-top: 10rem;
        }
      }

      @media (max-width: 991px) {
        grid-gap: 0 2rem;
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 5rem;

        .member {
          margin-top: 0 !important;
        }
      }

      .avatar {
        display: inline-block;
        position: relative;

        img {
          display: block;
          width: 100%;
          height: auto;
          aspect-ratio: 1;
          object-fit: cover;
          clip-path: url(#avatar_vec);
          // border-radius: 1000px;
          filter: brightness(0.95);

          @media (max-width: 767px) {
            max-width: 200px;
            margin: 0 auto;
          }
        }
      }

      .name {
        margin-top: 0.8rem;
        font-weight: bold;
        font-size: 1.6rem;
      }

      .title {
        margin: 0.5rem 0;
        opacity: 0.7;
      }

      .intro {}
    }
  }
}
