._index {
  h2 {
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-family: "Pragati Narrow", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #888;

    @media (max-width: 767px) {
      font-size: 2.4rem;
    }

    @media (max-width: 575px) {
      font-size: 2rem;
      text-align: center !important;
    }
  }

  section:not(.site-header) {
    padding: 4rem 0;
  }

  .top {
    padding-top: var(--site-header-height);
    background-image: linear-gradient(0deg, rgba(30, 15, 111, 0.4)), url('/images/hero1.jpg');
    background-repeat: no-repeat;
    background-position: center center, center var(--bg-pos);
    background-size: cover;
    color: #fff;

    .top-main {
      box-sizing: border-box;
      padding: 4rem 0;
      min-height: calc(100vh - var(--site-header-height) - 3rem);
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .content {
      max-width: 800px;
      text-align: center;
    }

    h1 {
      margin: 0 0 2rem 0;
      font-size: 3.8rem;
      font-weight: 600;
      letter-spacing: 0.12em;
      line-height: 1.2;

      small {
        font-size: 0.44em;
        font-weight: 400;
        letter-spacing: 0.14em;
      }

      @media (max-width: 991px) {
        font-size: 2.4rem;
      }
    }

    .action {
      margin-top: 3rem;

      @media (max-width: 767px) {
        display: flex;

        .btn {
          padding-left: 0;
          padding-right: 0;
          flex: 1;
        }
      }
    }

    .kv {
      display: block;

      @media (max-width: 767px) {
        width: 80%;
        margin: 3rem auto -5rem auto;
      }
    }
  }

  .about {
    position: relative;
    background: var(--white);
    background-image: url('/images/about_bg.svg');
    background-position: calc(50% + var(--bg-pos)) center;
    background-size: auto 70%, 100% 100%;
    background-repeat: repeat, repeat-x;

    h2 {
      text-align: center;
    }

    .content {
      max-width: 800px;
      margin: 0 auto;

      strong {
        margin-bottom: 2rem;
        display: block;
        text-align: center;
      }
    }
  }

  .works {
    background: var(--purple);
    background-image: url('/images/works_bottom_bg_2.svg'), url('/images/works_bg.svg');
    background-repeat: repeat-x, repeat-y;
    background-position: calc(50% - var(--bg-pos)) bottom, center calc(1.4 * var(--bg-pos));
    background-size: 1200px auto, 100vw auto;

    @media (max-width: 767px) {
      background-size: 1000px auto, 100vw auto;
    }

    h2 {
      color: #fff;
    }

    .tabs {
      display: flex;
      max-width: fit-content;
      margin: 2rem auto 4rem auto;

      a {
        min-width: 1px;
        display: block;
        overflow: hidden;
        padding: 0.4rem 1.2rem;
        background: var(--white);
        border: 1px solid #ccc;
        color: currentColor;
        transition: color 0.4s, border-color 0.4s, background 0.4s;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;

        @media(max-width: 575px) {
          padding: 0.4rem 0.8rem;
        }

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }
        
        &:not(:last-child) {
          margin-right: -1px;
        }

        &.active {
          position: relative;
          background: var(--green);
          border-color: var(--green);
          color: var(--white) !important;
        }

        &:hover {
          position: relative;
          border-color: var(--green);
          color: var(--green);
        }
      }
    }

    .list {
      max-width: 1600px;
      margin: 0 auto 8rem auto;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr;

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 575px) {
        grid-template-columns: 1fr;
      }

      .item {
        word-break: break-all;
        background: var(--white);
        border: 1px solid #ddd;
        border-radius: 8px;

        .image {
          img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 15 / 9;
            border-radius: 8px 8px 0 0;
            border-bottom: 1px solid #ddd;
          }
        }

        .content {
          padding: 0.8em;

          .title {
            margin-bottom: 0.6rem;
            font-size: 1.3rem;
          }

          .desc {
            opacity: 0.75;
          }

          .url {
            opacity: 0.75;

            a {
              margin-left: 0.2em;
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }

  .news {
    background: var(--white);
    background-image: linear-gradient(0deg, #fff0, #fff), linear-gradient(0deg, #fff, #fff0), url('/images/members_bg.svg');
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: center top, center bottom, center calc(1.5 * var(--bg-pos));
    background-size: 100vw 80px, 100vw 80px, 900px auto;
    padding-top: 0 !important;

    h2 {
      text-align: center;
    }

    .news-list {
      max-width: 800px;
      margin: 0 auto;
      padding: 0.6rem 1.6rem;
      background: #eee;
      border-radius: 8px;

      .item {
        display: block;
        padding: 0.6rem 0;
        border-bottom: 1px solid #0002;

        &:last-child {
          border-bottom: none;
        }

        .type {
          display: inline-block;
          margin: 0;

          .tag {
            margin: 0;
            white-space: nowrap;
          }
        }

        .date {
          display: inline-block;
          padding: 0 1.2rem;
          font-size: 0.8rem;
          color: #0005;
          white-space: nowrap;

          [class^="material-symbols-"] {
            font-size: 0.8rem;
          }
        }

        .desc {
          margin-top: 0.4rem;
          font-size: 0.9rem;
        }

        a {
          color: currentColor;
          text-decoration: none;
        }
      }
    }
  }

  .keymoments {
    background: var(--purple);

    h2 {
      color: var(--white);
    }

    .award-photos {
      &.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: var(--green);
      }

      .item {
        position: relative;

        img {
          display: block;
          height: 360px;
          border-radius: 8px;

          @media (max-width: 767px) {
            height: auto;
            width: 100%;
          }
        }
        
        .desc {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 1rem;
          background: rgba(0, 0, 0, 0.75);
          border-radius: 0 0 8px 8px;
          color: #fff;
          font-size: 1.2rem;
        }
      }
    }
  }

  .members {
    background: var(--white);
    background-image: linear-gradient(0deg, #fff0, #fff), linear-gradient(0deg, #fff, #fff0), url('/images/members_bg.svg');
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: center top, center bottom, center calc(1.5 * var(--bg-pos));
    background-size: 100vw 80px, 100vw 80px, 900px auto;

    .member-list {
      display: grid;
      grid-gap: 4rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 575px) {
        grid-template-columns: 1fr;
      }
    }

    .member {
      .avatar {
        display: block;
        position: relative;

        img {
          display: block;
          width: 100%;
          height: auto;
          aspect-ratio: 1;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .name {
        margin-top: 0.6em;
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
        opacity: 0.8;
      }

      .title {
        text-align: center;
        opacity: 0.6;
      }

      .desc {
        margin-top: 1rem;
      }

      .intro {
        ul {
          padding-left: 1.2rem;
        }
      }
    }

    .founder {
      margin-bottom: 4rem;
      padding: 1rem 4rem 1rem 1rem;
      background: #f9f3ed;
      border-radius: 8px;

      @media (max-width: 991px) {
        margin-bottom: 0;
        padding: 0;
        background: transparent;
        border-radius: 0;
      }
      
      .member {
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-gap: 3rem;

        @media (max-width: 991px) {
          display: block;
          margin-bottom: 4rem;
        }

        .name {
          text-align: left;
        }

        .title {
          text-align: left;
        }
      }
    }

    .list {
      display: grid;
      grid-gap: 0 6rem;
      grid-template-columns: 1fr 1fr 1fr;

      @media (max-width: 991px) {
        grid-gap: 0 2rem;
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 5rem;

        .member {
          margin-top: 0 !important;
        }
      }
    }
  }

  .partners {
    padding-bottom: 8rem !important;
    background: var(--purple);
    background-image: url('/images/members_bottom_bg.svg');
    background-repeat: repeat-x;
    background-position: calc(50% + calc(3 * var(--bg-pos))) bottom;
    background-size: 1200px auto;
    color: var(--white);

    h2 {
      color: var(--white);
    }

    h3 {
      margin-bottom: 0.4em;
    }

    .partner-wrapper {
      margin: 40px 0;
      // 這邊未來可以分成兩區，先註解原始的樣式
      // display: grid;
      // grid-gap: 20px;
      // grid-template-columns: auto auto;
      // align-items: flex-start;

      // @media (max-width: 991px) {
      //   grid-template-columns: 1fr;
      // }
    }

    .partner-group {
      padding: 32px;
      text-align: center;
      background: #fff;
      border-radius: 8px;
      color: var(--black);

      .partner-title {
        padding-bottom: 24px;
        opacity: 0.8;
        font-size: 1.4rem;
        
        &:after {
          content: '';
          display: block;
          width: 40px;
          height: 4px;
          margin: 8px auto 16px auto;
          background: var(--orange);
          border-radius: 100px;
        }

        small {
          display: block;
          font-size: 0.6em;
        }
      }

      .logo-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px 36px;

        img {
          width: 100%;
          max-width: 360px;
          max-height: 40px;
        }
      }
    }
  }
}
